<button type="button">New</button>
<button type="button">Submit</button>
<input id="default_hourly_rate">
<table>
    <thead>
        <tr>
            <th>State</th>
            <th>Date</th>
            <th>Title</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Hourly Rate</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
<!--        <TaskComponent *ngFor="objTask in objTimeSheet.getsTasks()">-->
<!--            <tr>-->
<!--                -->
<!--            </tr>-->
<!--        </TaskComponent>-->
    </tbody>
</table>
